{% extends 'adocao/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block startarea %}

<div class="container py-5">

  <div class="row mt-5">
    <div class="col-lg">
      <h3>{{ titulo }}</h3>
      {% if botao == 'Excluir' %}
      <h4>{{object}}</h4>
      {% endif %}
      
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5">

      <form method="post">

        <!-- todo formulário tem q ter essa validação -->
        {% csrf_token %}
        <!-- gera o formulário -->
        {{ form|crispy }}

        <!-- cria botão p/ submeter o form e outro pra voltar -->
        <button type="submit" class="btn btn-success">
           {{ botao }}
        </button>

        <a href="{% url 'index' %}" class="btn btn-secondary">
          Voltar
        </a>

      </form>

    </div>
  </div>
</div>

{% endblock %}
