{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Curriculo Vitae</title>

    <link rel="stylesheet" href="{%static 'Source/bootstrap/css/bootstrap.css' %}">

    <style media="screen">
        .bg-cinza-claro{
          background-color: #CCCCCC;
        }
        .text-cinza-claro{
          color: #CCCCCC;
        }
    </style>

  </head>
  <body>
    <!--define o format odo site: inteiro ou centraliza -->
    <div class="container shadow-sm mt-3">

      <div class="row border bg-cinza-claro rounded">

        <div class="col-lg-8">

          <h3>Herika</h3>
        </div>

        <div class="col-lg">
          Lista
        </div>

      </div>
    </div>



  </body>
</html>
